@charset "utf-8";
/* CSS Document */

img{
	border-radius: 50%;
	padding:25px;
}

list-unstyled{
	margin-left:40%
}

p{
	text-align:center;
	font-size:24px;
}

body{
	background-color:gray;
}

h2{
	text-align:center;
	text-decoration:underline;
	color:#090B80;
}

h3{
	text-decoration:underline;
	font-size:20px;
	text-color:blue;
}

li{
	font-size:18px;
	text-color:blue;
}

.footer {
    position: absolute;
	width:100%;
}